﻿body .top-bar {
    background-color: red;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: brown;
        margin: auto;
        display: flex;
    }

        body .top-bar .main-bar .contact-left {
            width: 65%;
            background-color: blue;
            display: flex;
            justify-content: center;
            gap: 12px;
        }

        body .top-bar .main-bar .contact-right {
            width: 35%;
            background-color: yellow;
            display: flex;
            justify-content: center;
            gap: 12px;
        }
